/*****************
Page Styles
****************/

body {
	margin:0;
	background: #90ADB7 url('../images/background.png') repeat-x;
	font-family: verdana, sans-serif;
	font-size: 0.85em;
	
}

#wrapper{
	width: 960px;
	margin: 0 auto;
}

p{
	line-height:1.5em;
	color:#333;
}


a:hover {
	text-decoration:none;
	color:red;
}

h3{
	color:red;
}

/*****************
Navigation
****************/

#nav {
	list-style: none;
	padding: 0;
	float: right;
	margin: 40 0;
}

#nav li {
	float: left;
	margin-right:10px;
	font-size:1.4em;
	font-weight:bold;
	
	
}


/*****************
Header
****************/

#header{
	font-style: italic;
	float: left;
	margin: 20px 0;
}

#header h1{
	font-size:3em;
	margin:0;
}

#header h2{
	margin:0;
	color:#888;
	font-size:1.2em;
}


/*****************
Content
****************/

#content {
	float:left;
	width:700px;
	margin-right:20px;
}

#content .post{
	background:#FFF;
	padding:10px;
	margin-bottom:20px;
	border:4px solid #CCC;
}

#content2 .post{
	background:#FFF;
	padding:10px;
	margin-bottom:20px;
	border:1px outset black;
	background-image: linear-gradient(bottom, rgb(247,247,247) 3%, rgb(191,191,191) 84%);
	background-image: -o-linear-gradient(bottom, rgb(247,247,247) 3%, rgb(191,191,191) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(247,247,247) 3%, rgb(191,191,191) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(247,247,247) 3%, rgb(191,191,191) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(247,247,247) 3%, rgb(191,191,191) 84%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.03, rgb(247,247,247)),
		color-stop(0.84, rgb(191,191,191))
	);
	box-shadow: 10px 10px 5px black;
}

#content .post h3{
	margin:0;
	color:#333;
}

.pic{
	margin-left:10px;
	margin-bottom:10px;
	float:right;
	border:2px outset black;
	box-shadow: 10px 10px 5px #988888;
}
/*****************
sidebar
****************/

#sidebar{
	width:200px;
	float:left;
	background: #FFF;
	padding:10px;
	border:3px solid black;
}

#sidebar h1{
	margin:0;
}

#sidebar .section{
	border-top: 2px dashed #CCC;
	padding-top: 10px;
}

#sidebar .section:first-child{
	border-top:none;
	padding:0;
}



#wrapper2{
	height:220px;
	width:auto;
	background-color:gray;
	border:0px solid;
	margin-top:100px;
	box-shadow: 10px 10px 5px black;
	background-image: linear-gradient(bottom, rgb(32,100,134) 23%, rgb(58,130,161) 51%);
	background-image: -o-linear-gradient(bottom, rgb(32,100,134) 23%, rgb(58,130,161) 51%);
	background-image: -moz-linear-gradient(bottom, rgb(32,100,134) 23%, rgb(58,130,161) 51%);
	background-image: -webkit-linear-gradient(bottom, rgb(32,100,134) 23%, rgb(58,130,161) 51%);
	background-image: -ms-linear-gradient(bottom, rgb(32,100,134) 23%, rgb(58,130,161) 51%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.23, rgb(32,100,134)),
		color-stop(0.51, rgb(58,130,161))
	);
	
}

#nav2{
	float:left;
	list-style: none;
	margin: 0 0;
	
}

#nav2 li{
	float:left;
	padding:40px;
	font-size:60px;
	color: white; 
	text-shadow: black 0.08em 0.08em 0.08em
	
	
}
#nav2 li:hover{
	
	font-color:red;
	font-style:italic;
}

#para{
	margin:20px 20px;
	background-color:white;
	padding:20px;
}


#sidenave{
	float:right;
}

#content2{
	float:left;
	width:900px;
	margin-left:80px;
	margin-top:20px;
}

#content3{
	margin-right:20px;
	margin-top:20px;
	float:right;
	width:300px;
	background: #FFF;
	padding:10px;
	border:1px outset black;
	background-image: linear-gradient(bottom, rgb(247,247,247) 3%, rgb(191,191,191) 84%);
	background-image: -o-linear-gradient(bottom, rgb(247,247,247) 3%, rgb(191,191,191) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(247,247,247) 3%, rgb(191,191,191) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(247,247,247) 3%, rgb(191,191,191) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(247,247,247) 3%, rgb(191,191,191) 84%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.03, rgb(247,247,247)),
		color-stop(0.84, rgb(191,191,191))
	);
	box-shadow: 10px 10px 5px black;
}